.blob-container {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: $COLOR_JEANS_LIGHT;
    width: 100%;
    height: 0.25rem;
}

.blob-extractor {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: $COLOR_JEANS_LIGHT;
    width: 100%;
    height: 0.25rem;
    filter: url('#blob');

    .blob {
        position: absolute;
        left: var(--position, 50%);
        transform: translate(-50%, 100%);
        border-radius: 100%;
        background: $COLOR_JEANS_LIGHT;
        animation: blob-size var(--time, 4s) ease-in infinite var(--delay, 0s),
            blob-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    }
}

@keyframes blob-size {
    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes blob-move {
    0% {
        bottom: -6rem;
    }
    100% {
        bottom: var(--distance, 6rem);
    }
}
