// Pallette
// Light
$COLOR_TEXT_PRIMARY_LIGHT: rgba(0, 0, 0, 0.87);
$COLOR_TEXT_SECONDARY_LIGHT: rgba(0, 0, 0, 0.6);
$COLOR_TEXT_TERTIARY_LIGHT: rgba(0, 0, 0, 0.38);
$COLOR_BACKGROUND_LIGHT: #f0f2f5;
$COLOR_PANEL_LIGHT: #fafafa;
$COLOR_BORDER_LIGHT: #e8e8e8;
$COLOR_PRIMARY_LIGHT: #2673dd;
$COLOR_WARNING_LIGHT: #ffbb00;
$COLOR_ERROR_LIGHT: #ee2c4a;
$COLOR_SUCCESS_LIGHT: #44cc77;
$COLOR_JEANS_LIGHT: #648ba7;
$COLOR_HIGHLIGHT_BK_LIGHT: rgba(255, 122, 69, 0.87);
$COLOR_HIGHLIGHT_CK_LIGHT: rgba(250, 219, 20, 0.87);
$COLOR_HIGHLIGHT_SK_LIGHT: rgba(255, 94, 210, 0.87);

// Dark
$COLOR_TEXT_PRIMARY_DARK: rgba(255, 255, 255, 0.87);
$COLOR_TEXT_SECONDARY_DARK: rgba(255, 255, 255, 0.6);
$COLOR_TEXT_TERTIARY_DARK: rgba(255, 255, 255, 0.38);
$COLOR_BACKGROUND_DARK: #121212;
$COLOR_PANEL_DARK: #222222;
$COLOR_BORDER_DARK: rgba(255, 255, 255, 0.09);
$COLOR_PRIMARY_DARK: #2673dd;
$COLOR_WARNING_DARK: #b2b400;
$COLOR_ERROR_DARK: #ab2830;
$COLOR_SUCCESS_DARK: #309d53;
$COLOR_JEANS_DARK: #55768e;
$COLOR_HIGHLIGHT_BK_DARK: rgba(255, 122, 69, 0.87);
$COLOR_HIGHLIGHT_CK_DARK: rgba(250, 219, 20, 0.87);
$COLOR_HIGHLIGHT_SK_DARK: rgba(255, 94, 210, 0.87);

// FONT
$FONT_PRIMARY: 'Cascadia Code';
$FONT_PRIMARY_BOLD: 'Cascadia Code Bold';
$FONT_PRIMARY_ITALIC: 'Cascadia Code Italic';
$FONT_PRIMARY_BOLD_ITALIC: 'Cascadia Code Bold Italic';
$FONT_LIGHT: 'Cascadia Code Light';
$FONT_LIGHT_ITALIC: 'Cascadia Code Light Italic';
$FONT_EXTRA_LIGHT_ITALIC: 'Cascadia Code Extra Light Italic';
