@font-face {
    font-family: 'Cascadia Code';
    src: url('../fonts/CascadiaCode-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Bold';
    src: url('../fonts/CascadiaCode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Italic';
    src: url('../fonts/CascadiaCode-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Bold Italic';
    src: url('../fonts/CascadiaCode-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Light';
    src: url('../fonts/CascadiaCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Light Italic';
    src: url('../fonts/CascadiaCode-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code Extra Light Italic';
    src: url('../fonts/CascadiaCode-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
